/* 공통 영역 */
* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

/* 헤더 영역 */
header {
    width: 100%;
    height: 80px;
    background-color: #007BFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 100px;
    height: 80px;
}

header ul {
    display: flex;
    align-items: center;
    gap: 15px;    
}

/* header ul li { */
    /* margin-left: 10px; */
/* } */

.header_link_a {
    color: white;
    display: inline-block;
}

.header_link_a:hover {
    transform: scale(1.4);
    font-weight: 900;
}

.serch_input {
    width: 500px;
    height: 30px;
    border: solid 2px #0056b3 ;
    border-radius: 10px;
}
/* 메인 영역 */
#container {
    width: 1350px;
    margin: 0 auto;
}

/* #container div {
    width: 100%;
} */

/* 슬라이드 영역 */
.slide_Area {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slide_Area 8s infinite linear;
}

.slide:nth-child(1) {
    background-image: url(IMG/slide1.png);
    animation-delay: 0;
}

.slide:nth-child(2) {
    background-image: url(IMG/slide2.png);
    animation-delay: -2.5s;
}

.slide:nth-child(3) {
    background-image: url(IMG/slide3.png);
    animation-delay: -5s;
}

@keyframes slide_Area {
    0% {
      transform: translateX(0);
    }
  
    26% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    93% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
/* 푸터 영역 */
footer {
    width: 100%;
    height: 200px;
    background-color: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 300px;
    height: 150px;
    margin-right: 20px;
}

/* 회원가입 영역 */
#wrapped {
    width: 100%;
    height: 710px;
    display: flex;
    align-items: center;
}

.sign_up_area {
    width: 500px;
    height: 500px;
    border: solid 3px #007BFF;
    border-radius: 10px;
    margin: 0 auto;
}

.sign_up_form {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.sign_up_logo {
    width: 150px;
    height: 100px;
}

.sign_up_logo_back {
    width: 100%;
    background-color: #007BFF;
    display: flex;
    justify-content: center;
}

.sign_up_p {
    margin: 5px 5px 5px 0px;
    font-size: 15px;
    font-weight: 900;
}

#sign_up_submit {
    width: 100%;
}

.btn-myblue {
    background-color: #007BFF;
    color: white;
}